	body {
		font-family:arial;
		margin:0px;
		padding:0px;		
	}

	div#wrapper {
		margin:0 auto;
		width:980px;
		height:auto;
		color:gray;
	}

	div#wrapper table {
		width:inherit;
	}
	div#wrapper h3 {
		text-align:center;	
	}

	div#wrapper tabel{
 		border:1px solid gray;	
	}

	input {
	margin: 5px;	
	}

	div#wrapper th {
		background-color:gray;	
	}

	div#wrapper td {
		border:1px solid gray;	
	}

	.toggleTrue {
	        font-weight:600;
		padding:5px;
		background-color:green;
	}

	.False{
		color:white;	
		background-color:red;	
		/* content: "false";*/
	}

	div#buttonNew {
		width: 65px;
		height: 14px;
		font-weight: 700;
		text-align: center;
		background-color: #cec6c6;	
		color:#424242;
		border-radius: 5px;
		padding: 6px;
		font-size: 13px;
		font-family:arial;
		margin: 5px;
		float: left;
		border: 1px solid #424242;
	}

	div#buttonNew:hover {
		background-color: gray;
		color:black;
	}

	div#buttonNew:hover .sign {
		border:1px solid white;
		color:white;			
	}

	div#buttonNew.saveDatabase {
		font-size:8px;		
	}

	.remove {
		float:left;
		text-align:center;
	}

	.default {
		display:none;		
	}

	.sign {
		font-weight: 700;
		border: 1px solid #424242;
		width: 15px;
		height: 15px;
		border-radius: 45%;
		float: right;
		color: #424242;
		font-weight: 900;
		font-size: 13px;
		padding: 1px;
		text-align: center;
		margin-top:-2px;	
		/*background-color:#b3b1b1;*/
	}

	input#submit_100 {
		/*width: 65px;
		height: 14px;*/
		font-weight: 700;
		text-align: center;
		background-color: #cec6c6;	
		color:#424242;
		border-radius: 5px;
		padding: 5px;
		font-size: 13px;
		margin: 5px;
		float: left;
		border: 1px solid #424242;		
	}

	input#submit_100:hover {
		background-color: gray;
		color:black;
	}	

	inputTh {
		display:none;
		margin-top:-500px;		
	}
